@model List<EMSSP.Models.Employee>

@{
    ViewData["Title"] = "Employee Details";

}
<h3>@ViewData["Title"]</h3>
<hr />

<form>
    <button asp-action="CreateOrEdit" asp-controller="Employee" class="btn btn-primary mb-3">Create Employee</button>
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th>EmployeeId</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Phone Number</th>
                <th>Job Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.EmployeeId</td>
                        <td>@employee.Name</td>
                        <td>@employee.Email</td>
                        <td>@employee.PhoneNo</td>
                        <td>@employee.JobTitle</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Employee" asp-action="CreateOrEdit" asp-route-id="@employee.EmployeeId" class="btn btn-primary">Edit</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.EmployeeId" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            Not Employee Records
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>